<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="CONSOLE_PATTERN"
                    source="logging.pattern.console"
                    defaultValue="%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
