spring:
  application:
    name: poc-rag

  threads:
    virtual:
      enabled: true

  docker:
    compose:
      stop:
        command: down

  servlet:
    multipart:
      max-file-size: ${SERVLET_MAX_FILE_SIZE:100MB}
      max-request-size: ${SERVLET_MAX_REQUEST_SIZE:100MB}

  datasource:
    url: ${DB_H2_URL_CONFIG}
    hikari:
      jdbc-url: ${DB_H2_HIRAKI_URL_CONFIG}
    driver-class-name: org.h2.Driver
    username: ${DB_H2_USERNAME}
    password: ${DB_H2_PASSWORD}

  h2:
    console:
      enabled: true
      path: /h2-console

  ai:
    vectorstore:
      qdrant:
        initialize-schema: true
        host: ${QDRANT_HOST}
        port: ${QDRANT_PORT}
        collection-name: ${COLLECTION_NAME}

    chat:
      client:
        enabled: true
      memory:
        repository:
          jdbc:
            initialize-schema: always
            schema: ${CLASSPATH_DB_SCHEMA}

    ollama:
      embedding:
        options:
          model: ${OLLAMA_EMBEDDING_MODEL:bert-base-nlp-portuguese}
      chat:
        options:
          model: ${OLLAMA_MODEL_VERSION}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers,prometheus

logging:
  level:
    org:
      springframework:
        ai:
          chat:
            client:
              advisor: DEBUG
        web: INFO

    web:
      servlet:
        mvc:
          method:
            annotation:
              RequestMappingHandlerMapping: DEBUG
  pattern:
    console: ${LOGGING_PATTERN_CONSOLE}

app:
  chat-memory:
    max-messages: ${CHAT_MEMORY_MAX_MESSAGES:10}
  data-loader:
    similarity-threshold: ${DATA_LOADER_SIMILARITY_THRESHOLD:0.5}
    top-k: ${DATA_LOADER_TOP_K:2}
    max-chunk-size: ${DATA_LOADER_MAX_CHUNK_SIZE:100}
    loader-file-enabled: ${DATA_LOADER_FILE_ENABLED:true}
  rh:
    similarity-threshold: ${RH_SIMILARITY_THRESHOLD:0.6}
    top-k: ${RH_TOP_K:4}
    chunk-size: ${RH_CHUNK_SIZE:200}
    max-chunk-size: ${RH_MAX_CHUNK_SIZE:400}
    loader-file-enabled: ${RH_LOADER_FILE_ENABLED:true}
  ai:
    similarity-threshold: ${RH_SIMILARITY_THRESHOLD:0.6}
    top-k: ${RH_TOP_K:5}
    chunk-size: ${RH_CHUNK_SIZE:100}
    max-chunk-size: ${RH_MAX_CHUNK_SIZE:100}
    loader-file-enabled: ${AI_LOADER_FILE_ENABLED:true}
  tavily:
    api-key: ${TAVILY_API_KEY}
    base-url: ${TAVILY_BASE_URL}
